<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.em.corona">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:name="au.em.corona.BaseApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity
        android:name="au.em.corona.ui.SplashActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name="au.em.corona.ui.main.MainActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateHidden" />
    <activity
        android:name="au.em.corona.ui.hospital_updates.HospitalUpdatesActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateHidden" />
    <activity
        android:name="au.em.corona.ui.live_updates.LiveUpdatesActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateHidden" />
    <activity
        android:name="au.em.corona.ui.hospital_updates.ViewDetailsActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateHidden" />

  </application>

</manifest>